<!DOCTYPE HTML>
<html>
	<head>
		<title>Photography</title>
		<link rel="stylesheet" href="css/timeliner.css" type="text/css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href="vendor/twbs/bootstrap/dist/css/me.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,900' rel='stylesheet' type='text/css'>
	</head>
   <body>
   <nav class="navbar navbar-default navbar-fixed-top"">
        <h2 id="title-header"><a href="./">Tom Woodward</a></h2>
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Tom Woodward</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="photos.html">Photos</a></li>
        <li><a href="presentations.html">Presentations</a></li>
        <li><a href="timeline.html">Work Timeline</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
		<!-- Wrapper -->
		div class="container-fluid searchrow">
    	

			<div id="wrapper container-fluid" ng-app="myApp" ng-controller="SuperCtrl"> 
					<div class="row searchrow">					
					    <div class="col-md-10 col-md-offset-1 col-sm-12">
					    	<h3 class="presentation-title searchrow">Weekly Photos</h3>
					    </div>
					</div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 well well-lg"">
					    	<p style="font-size:1.2em">
					    	This set of photos links to individual blog posts where I've chosen a few photos to represent that week's efforts. It 
					    	reflects a choice to put more than select 'perfect' photos out there for the public and it puts me in the habit of reflecting regularly.
					    	</p>
								<!--<form class="form-inline">
									<input ng-model='search.title.rendered' type="text" placeholder="Filter by" autofocus>
					  			</form>-->				
				  		</div>		
					</div>

				<!-- Main -->
					<div class="row no-gutter">
						<div class="col-md-10 col-md-offset-1 col-xsm-12">
							<a href="{{ entry.link }}">		 
							<div ng-repeat="entry in entries | filter: search| orderBy:'-id' : reverse" class="col-lg-2 col-md-3 col-xs-12 artist" style="background-image: url({{ entry.better_featured_image.media_details.sizes.medium.source_url }}); background-repeat: no-repeat; background-position: center; background-size: cover ">	
						         <div class="artist_title"><h4 ng-bind-html="entry.title.rendered"></h4>
					         	</a>	
					        </div>		      
					    </div>						
					</div>				
			</div>
		

		<!-- Scripts -->
						
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
			<script type="text/javascript" src="js/angular-sanitize.js"></script>

		<script>
			var app = angular.module('myApp', ['ngSanitize']);
			//
			app.controller('SuperCtrl', function($scope, $http) {
			    $http.get("./json/weeklyPhotos.json")
			    .success(function(response) {$scope.entries = response;});
			});
			
			//
			
			</script>
 <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/twbs/bootstrap/dist/js/salvattore.min.js"></script>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
 <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>


	</body>
</html>
